# Virtual environment
venv/

# Distribution / build folders
dist/
build/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.__pylintrc

# PyInstaller
# main.spec

# IDE / editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*.swo
